.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 100px;
    grid-template-areas: 
        'cabecalho cabecalho'
        'lateral conteudo'; 
}

header {
    grid-area: cabecalho;

}

aside {
    grid-area: lateral;
    background-color: white;
}