/* Estilos base */
body {
    background-color: #d3d3d3;
   
}

.conteiner {
    border: 1px solid #ccc;
    max-width: 300px;
    margin: 300px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: #0056b3;
}

.link {
    color: #007bff;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.mensagem {
    font-size: .9rem;
    font-weight: 600;
    margin-top: -6px;
    margin-bottom: 1rem;  
    color: red; 
}


@media screen and (max-width: 768px) {
    .conteiner {
        max-width: 90%; 
    }
}

@media screen and (max-width: 480px) {
    .conteiner {
        margin: 50px auto; 
    }
}

