.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.titulo {
    text-align: center;
}

table {
    width: 100%; 
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid #000; 
    text-align: center;
    padding: 15px;
}

th, td {
    padding: 10px;
}

.botao {
    text-decoration: none;
    color: blue;
}
