.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}

.container p {
    font-size: 2rem;
    color: white;
    margin-right: 10px;
    margin: 0 16px;
}